body {
    background-color: #cccccc;
    background: no-repeat center;
    background-size: cover;
    font-family: monospace;
    cursor: default;
}

fieldset {
    border-width: 1px;
    border-color: black;
    font-size: 13;
    background-color: rgba(255, 255, 255, 0.5);
}

p {
    font-size: 20;
    margin: 0;
}

legend {
    font-size: 15;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid black;
}

select {
    background-color: rgba(255, 255, 255, 0.5);
}

.wrapper {
    float: left;
    position: relative;
    /* color: #ffd000; */
}

#numberBox {
    width: 100px;
    margin-right: 25px;
    background-color: rgba(255, 255, 255, 0.50);
    border: 1px solid rgb(169, 169, 169);
}

#result {
    float: left;
    background-color: rgba(255, 255, 255, 0.50);
}

input {
    background-color: rgba(255, 255, 255, 0.50);
    border: 1px solid rgb(169, 169, 169);
}

textarea {
    background-color: rgba(255, 255, 255, 0.50);
    border: 1px solid rgb(169, 169, 169);
}

#weatherInfo {
    float: left;
    /* margin-right: 50px; */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#currentTemp {
    font-size: 30;
}

#sky {
    font-size: 20; 
}

#feelsLike {
    font-size: 13;
}

.weatherSwitch {
    float: right;
    position: absolute;
    right: 2;
    bottom: 0;
    padding: 2px;
    font-size: 13;
    border: 1px solid black;
}

.weatherSwitch:hover {
    background-color: rgba(238, 238, 238, 0.5);
    cursor: pointer;
}

#weatherCool {
    float: right;
    margin-right: 20px;
    margin-left: 29.75px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.50);
}

#forecast {
    display: none;
}

#convert {
    border: 1px solid black;
    font-size: 13;
    padding: 2px;
}

#convert:hover {
    background-color: rgba(238, 238, 238, 0.5);
    cursor: pointer;
}

.day {
    float: left;
    width: 120px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.icon{
    display: block;
    margin: auto;
}

.temp {
    font-size: 15;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.item {
    font-size: 15;
    word-wrap: normal;
}

.header {
    margin: 0;
}

#addItem {
    font-size: 13;
    border: 1px solid black;
    float: left;
    padding: 2px;
    padding-bottom: 3px;
}

#addItem:hover {
    background-color: rgba(238, 238, 238, 0.5);
    cursor: pointer;
}

hr {
    border: 0.5px solid black;
    margin-bottom: 0px;
}

#itemDate {
    height: 21;
    width: 130;
}

.itemDate {
    position: absolute;
    font-size: 15;
    padding-top: 3px;
    right: 12;
}

.itemHeader {
    margin: 0;
}

.itemRemove {
    float: right;
    font-size: 13;
    /* border: 1px solid black; */
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    margin-top: 2px;
    color: black;
}

.itemRemove:hover {
    color: rgb(255, 0, 0);
}

li {
    border-bottom: 1px solid black;
}

#changeBG {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    padding: 2px;
}

#popUp {
    display: none;
    position: absolute;
    right: 0;
    bottom: 20px;
    border: 1px solid black;
}

#changeImage {
    border: 1px solid black;
    padding: 2px;
    padding-bottom: 0;
    float: right;
}